body {
  background-color: #afd4c0
}
.App {
  text-align: center;
}
header {
  display: flex;
  justify-content: center;
  font-size: 15px;
  background-color: #519872
}

.container {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 50vw;
  background-color: #E5F4EC
}
